@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
	/* COLORS */
	--color-white: #ffffff;
	--color-black: #000000;
	--color-grey950: #131518;
	--color-grey900: #262e38;
	--color-grey500: #969fad;
	--color-orange500: #fc7614;
	--color-gr-end: #181e27;
	--color-gr-start: #232a34;

	/* Font Family */
	--font-overpass: 'Overpass', sans-serif;
}
